<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>{{ titulo }}</h1>

    {% if erro %}
    <p class="erro">{{ erro }}</p>
    {% endif %}

    <!-- TODO ALUNO: action = cadastrar OU editar (se produto_id existir) -->
    <form method="POST" action="{{ url_for('editar', produto_id=produto_id) if produto_id else url_for('cadastrar')}}">

        <div class="form-grupo">
            <label for="nome">Nome do produto</label>
            <!-- TODO ALUNO: name="nome" e value com variável nome -->
            <input type="text" id="nome" name="nome" required
                   value="{{ nome or '' }}">
        </div>

        <div class="form-grupo">
            <label for="categoria">Categoria</label>
            <input type="text" id="categoria" name="categoria" required
                   placeholder="Notebook, Smartphone, Acessório"
                   value="{{ categoria or '' }}">
        </div>

        <div class="form-grupo">
            <label for="preco">Preço (R$)</label>
            <!-- TODO ALUNO: name preco, step any, value preco -->
            <input type="number" id="preco" name="preco" step="any" min="0" required
                   value="{{ preco or '' }}">
        </div>

        <div class="form-grupo">
            <label for="estoque">Estoque</label>
            <input type="number" id="estoque" name="estoque" min="0" required
                   value="{{ estoque or '0' }}">
        </div>

        <button type="submit">Salvar</button>
    </form>

    <p><a href="{{ url_for('cadastrar') }}">← Voltar à lista</a></p>

</body>
</html>