<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}


Sobre mim



{% endblock %}

{% block content %}
<h1>Sobre Mim</h1>
<h2>Rodrigo Camargo Safar</h2>


<h3>Olá! Sou o Rodrigo, estudante do 3º ano do Ensino Médio Técnico no COTEMIG. Sempre fui apaixonado por tecnologia e inovação, o que me levou a escolher uma formação que une a base do ensino médio ao universo do desenvolvimento de sistemas e da informática</h3>

{% endblock %}